body {
    
    background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
}

.firstInput {
    display: block;
    margin-top: 30px;
}

.secondInput {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 30%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color:lightgoldenrodyellow;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}
.heading{
    color: rgb(17, 18, 18);
}

.add-btn {
    display: block;
    background-color: violet;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: #ced4da;
    padding: 10px 7px;
    margin-top: 40px;
    width: 200px;
    font-size: 16px;
}

.sub-btn {
    display: block;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: #ced4da;
    padding: 10px 7px;
    margin-top: 10px;
    width: 200px;
    font-size: 16px;

}

.mul-btn {
    display: block;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: #ced4da;
    padding: 10px 7px;
    margin-top: 10px;
    width: 200px;
    font-size: 16px;
}

.div-btn {
    display: block;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: #ced4da;
    padding: 10px 7px;
    margin-top: 10px;
    width: 200px;
    font-size: 16px;
}

.mod-btn {
    display: block;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: #ced4da;
    padding: 10px 7px;
    margin-top: 10px;
    width: 200px;
    font-size: 16px;

}